:root {
    --clr-primary: 172 67 45;
    --clr-background: 185 41 84;
    --clr-dark-cyan: 183 100 15;
    --clr-text-label: 186 14 43;
    --clr-bg-input: 185 38 97;
    --clr-custom-text: 180 18 40;
    --clr-pale-cyan: 184 19 68;
    --clr-white: 0 0 100;

    --ff-primary: 'Space Mono', monospace;
    --fs-form: 1.5rem;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-form-input: 1.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
    background-color: hsl(var(--clr-background));
    color: hsl(var(--clr-white));
    font-family: var(--ff-primary);
    margin-inline: 0;
    padding-inline: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: 0;
}

.logo {
    margin-block: 2em;
}

.container {
    background-color: hsl(var(--clr-white));
    border-radius: 20px 20px 0 0;
    padding: 1em;
    width: 100%;
    height: 66%;
    position: relative;
    bottom: 0;
}

.num-people-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    display: block;
    color: hsl(var(--clr-text-label));
    margin-block: 1em;
}

.error {
    visibility: hidden;
    text-align: right;
    color: red;
}

.input {
    background-color: hsl(var(--clr-bg-input));
    color: hsl(var(--clr-dark-cyan));
    border-color: transparent;
    font-size: var(--fs-form);
    font-weight: var(--fw-bold);
    text-align: right;
    width: 100%;
    height: 48px;
    outline: none;
}

#billInput,
#peopleInput {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: .75em;
}

#billInput {
    background-image: url(./images/icon-dollar.svg);
}

#peopleInput {
    background-image: url(./images/icon-person.svg);
}



.input:hover {
    border-radius: 5px;
    outline: none;
}

.input:focus {
    outline: none;
}

.tip-percentage {
    background-color: hsl(var(--clr-dark-cyan));
    color: hsl(var(--clr-white));
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: .25em;
    padding: .45em 2em;
    width: 9.164375rem;
}

button,
.input:hover,
.tip-percentage:hover,
.tip-percentage:focus {
    cursor: pointer;
}

.tip-percentage:hover,
.tip-percentage:focus {
    background-color: hsl(var(--clr-pale-cyan));
    color: hsl(var(--clr-dark-cyan));
}

#custom-tip {
    background-color: hsl(var(--clr-bg-input));
    color: hsl(var(--clr-dark-cyan));
    margin-block: 0;
    padding: 0 0.5em 0 0;
}

.result {
    background-color: hsl(var(--clr-dark-cyan));
    color: hsl(var(--clr-white));
    margin-block-start: 1em;
    padding: 1em;
    border-radius: 10px;
}

.text > * {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.span {
    color: hsl(var(--clr-pale-cyan));
    font-size: 2rem;
}

.small {
    color: hsl(var(--clr-pale-cyan));
}

.reset {
    background-color: hsl(var(--clr-pale-cyan));
    color: hsl(var(--clr-dark-cyan));
    border-color: transparent;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    width: 100%;
    height: 48px;
}

@media (min-width: 30rem) {

    .input:hover {
        border-color: hsl(var(--clr-primary));
    }

    .tip-percentage {
        font-weight: var(--fw-bold);
    }
}

@media (min-width: 1440px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 920px;
        height: 481px;
    }

    .container > * {
        width: 50%;
        height: 100%;
        margin: 1em;
    }

    .span {
        font-size: 3rem;
    }
}